In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np
from collections import Counter

In [2]:
data = pd.read_csv('있냐.csv')

In [3]:
data.head()

,ID,Q,D_TRA1_1_SPOT1,D_TRA1_SYEAR,D_TRA1_SMONTH,D_TRA1_SDAY,D_TRA1_COST,D_TRA1_NUM,D_TRA1_CASE,D_TRA1_VAC,...,A10I,A10,A12,A13,A14,DQ6A,BSEX,BAGE,BJOB,BARA
0,1,1,21090.0,2018.0,12.0,31.0,2168800.0,4.0,1.0,2.0,...,0.0,938000.0,4.0,4.0,4.0,4,1,3,1,11
1,2,1,36460.0,2019.0,1.0,18.0,280000.0,1.0,1.0,1.0,...,0.0,250000.0,4.0,5.0,4.0,12,1,5,1,11
2,3,2,21090.0,2019.0,1.0,1.0,345500.0,1.0,1.0,2.0,...,0.0,217000.0,4.0,5.0,4.0,1,1,1,12,11
3,4,1,31370.0,2019.0,1.0,25.0,300000.0,3.0,1.0,1.0,...,0.0,348000.0,4.0,4.0,4.0,8,1,4,1,11
4,5,1,39020.0,2019.0,1.0,10.0,1425000.0,2.0,1.0,1.0,...,0.0,985000.0,4.0,4.0,4.0,5,1,6,13,11

In [4]:
print(data.shape
    )

(29459, 85)

In [5]:
set(data.columns)

{'A1',
 'A10',
 'A10A',
 'A10B',
 'A10C',
 'A10D',
 'A10E',
 'A10F',
 'A10G',
 'A10H',
 'A10I',
 'A12',
 'A13',
 'A14',
 'A2_1',
 'A2_2',
 'A2_3',
 'A3_1',
 'A3_10',
 'A3_11',
 'A3_12',
 'A3_13',
 'A3_14',
 'A3_15',
 'A3_16',
 'A3_17',
 'A3_18',
 'A3_19',
 'A3_2',
 'A3_20',
 'A3_21',
 'A3_3',
 'A3_4',
 'A3_5',
 'A3_6',
 'A3_7',
 'A3_8',
 'A3_9',
 'A4A_1',
 'A4A_2',
 'A4A_3',
 'A4_1',
 'A4_2',
 'A4_3',
 'A5_1',
 'A5_2',
 'A5_3',
 'A6_1',
 'A6_10',
 'A6_11',
 'A6_12',
 'A6_13',
 'A6_14',
 'A6_2',
 'A6_3',
 'A6_4',
 'A6_5',
 'A6_6',
 'A6_7',
 'A6_8',
 'A6_9',
 'A7',
 'A7A',
 'A7B_1',
 'A7B_2',
 'A7B_3',
 'A7B_4',
 'A7B_5',
 'A7B_6',
 'A7B_7',
 'BAGE',
 'BARA',
 'BJOB',
 'BSEX',
 'DQ6A',
 'D_TRA1_1_SPOT1',
 'D_TRA1_CASE',
 'D_TRA1_COST',
 'D_TRA1_NUM',
 'D_TRA1_SDAY',
 'D_TRA1_SMONTH',
 'D_TRA1_SYEAR',
 'D_TRA1_VAC',
 'ID',
 'Q'}

In [6]:
data.describe()

,ID,Q,D_TRA1_1_SPOT1,D_TRA1_SYEAR,D_TRA1_SMONTH,D_TRA1_SDAY,D_TRA1_COST,D_TRA1_NUM,D_TRA1_CASE,D_TRA1_VAC,...,A10I,A10,A12,A13,A14,DQ6A,BSEX,BAGE,BJOB,BARA
count,29459.000000,29459.000000,27321.000000,27321.000000,27321.000000,27321.000000,2.732100e+04,27321.000000,27321.000000,8631.000000,...,22898.000000,2.289800e+04,22898.000000,22898.000000,22898.000000,29459.000000,29459.000000,29459.000000,29459.000000,29459.000000
mean,14730.000000,1.132048,31424.233008,2018.998536,6.602613,14.721716,3.057758e+05,2.488489,1.649866,3.173329,...,877.009783,2.898089e+05,4.157525,4.023714,3.973273,3.522625,1.506365,4.048542,4.328762,27.961031
std,8504.225126,0.403929,7173.900023,0.038236,3.459082,8.130013,4.645148e+05,2.457029,1.043431,1.305692,...,12682.917462,4.154452e+05,0.483325,0.515986,0.510605,1.739694,0.499968,1.636170,4.517221,8.124517
min,1.000000,1.000000,11010.000000,2018.000000,1.000000,1.000000,3.000000e+03,1.000000,1.000000,1.000000,...,0.000000,0.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,11.000000
25%,7365.500000,1.000000,31040.000000,2019.000000,4.000000,8.000000,1.000000e+05,1.000000,1.000000,1.000000,...,0.000000,1.000000e+05,4.000000,4.000000,4.000000,2.000000,1.000000,3.000000,1.000000,23.000000
50%,14730.000000,1.000000,34010.000000,2019.000000,7.000000,14.000000,2.000000e+05,2.000000,1.000000,4.000000,...,0.000000,1.850000e+05,4.000000,4.000000,4.000000,4.000000,2.000000,4.000000,2.000000,31.000000
75%,22094.500000,1.000000,36420.000000,2019.000000,10.000000,21.000000,3.414000e+05,3.000000,2.000000,4.000000,...,0.000000,3.399900e+05,4.000000,4.000000,4.000000,5.000000,2.000000,5.000000,11.000000,35.000000
max,29459.000000,8.000000,39020.000000,2019.000000,12.000000,31.000000,2.108000e+07,80.000000,5.000000,4.000000,...,600000.000000,2.108000e+07,5.000000,5.000000,5.000000,12.000000,2.000000,7.000000,13.000000,39.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29459 entries, 0 to 29458
Data columns (total 85 columns):
ID                29459 non-null int64
Q                 29459 non-null int64
D_TRA1_1_SPOT1    27321 non-null float64
D_TRA1_SYEAR      27321 non-null float64
D_TRA1_SMONTH     27321 non-null float64
D_TRA1_SDAY       27321 non-null float64
D_TRA1_COST       27321 non-null float64
D_TRA1_NUM        27321 non-null float64
D_TRA1_CASE       27321 non-null float64
D_TRA1_VAC        8631 non-null float64
A1                22898 non-null float64
A2_1              22898 non-null float64
A2_2              20577 non-null float64
A2_3              14528 non-null float64
A3_1              17063 non-null float64
A3_2              11930 non-null float64
A3_3              1013 non-null float64
A3_4              2363 non-null float64
A3_5              1734 non-null float64
A3_6              12786 non-null float64
A3_7              735 non-null float64
A3_8              1794 non-null float64
A3_9              990 non-null float64
A3_10             45 non-null float64
A3_11             1151 non-null float64
A3_12             358 non-null float64
A3_13             532 non-null float64
A3_14             19 non-null float64
A3_15             1148 non-null float64
A3_16             995 non-null float64
A3_17             748 non-null float64
A3_18             3306 non-null float64
A3_19             158 non-null float64
A3_20             193 non-null float64
A3_21             459 non-null float64
A4_1              22898 non-null float64
A4_2              7579 non-null float64
A4_3              1564 non-null float64
A4A_1             4415 non-null float64
A4A_2             2259 non-null float64
A4A_3             624 non-null float64
A5_1              22898 non-null float64
A5_2              3326 non-null float64
A5_3              1007 non-null float64
A6_1              1161 non-null float64
A6_2              1001 non-null float64
A6_3              3045 non-null float64
A6_4              1311 non-null float64
A6_5              154 non-null float64
A6_6              252 non-null float64
A6_7              105 non-null float64
A6_8              139 non-null float64
A6_9              256 non-null float64
A6_10             348 non-null float64
A6_11             257 non-null float64
A6_12             2294 non-null float64
A6_13             76 non-null float64
A6_14             121 non-null float64
A7                22898 non-null float64
A7A               21920 non-null float64
A7B_1             12422 non-null float64
A7B_2             634 non-null float64
A7B_3             7895 non-null float64
A7B_4             477 non-null float64
A7B_5             1252 non-null float64
A7B_6             72 non-null float64
A7B_7             48 non-null float64
A10A              22898 non-null float64
A10B              22898 non-null float64
A10C              22898 non-null float64
A10D              22898 non-null float64
A10E              22898 non-null float64
A10F              22898 non-null float64
A10G              22898 non-null float64
A10H              22898 non-null float64
A10I              22898 non-null float64
A10               22898 non-null float64
A12               22898 non-null float64
A13               22898 non-null float64
A14               22898 non-null float64
DQ6A              29459 non-null int64
BSEX              29459 non-null int64
BAGE              29459 non-null int64
BJOB              29459 non-null int64
BARA              29459 non-null int64
dtypes: float64(78), int64(7)
memory usage: 19.1 MB

In [8]:
# 총 만족도 계산
data['total']=(data['A12']+data['A13']+data['A14'])/15

In [9]:
# 만족도 제거
data.drop('A12',axis=1,inplace=True)
data.drop('A13',axis=1,inplace=True)
data.drop('A14',axis=1,inplace=True)

In [10]:
#지역 널값 제거
data=data[data['D_TRA1_1_SPOT1'].isnull()==False]
data=data[data['total'].isnull()==False]

In [11]:
# 결측치 수 확인

data_jh = data.loc[:, 'A7':'A7B_7']
data_jh.isnull().sum()

A7           0
A7A        969
A7B_1    10422
A7B_2    22166
A7B_3    14938
A7B_4    22323
A7B_5    21556
A7B_6    22726
A7B_7    22750
dtype: int64

In [12]:
data_jh

         A7  A7A  A7B_1  A7B_2  A7B_3  A7B_4  A7B_5  A7B_6  A7B_7
0       4.0  0.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
1      12.0  0.0    NaN    NaN    3.0    NaN    NaN    NaN    NaN
2       6.0  0.0    NaN    NaN    3.0    NaN    NaN    NaN    NaN
3       3.0  1.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
4       2.0  0.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
6       2.0  0.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
8       3.0  0.0    NaN    NaN    NaN    4.0    NaN    NaN    NaN
10      3.0  0.0    NaN    NaN    3.0    NaN    NaN    NaN    NaN
11      5.0  0.0    NaN    NaN    3.0    4.0    NaN    NaN    NaN
13      3.0  1.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
14      4.0  0.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
15      3.0  0.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
17      2.0  0.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
18      4.0  0.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
19      4.0  0.0    NaN    NaN    3.0    NaN    NaN    NaN    NaN
20      3.0  0.0    NaN    NaN    3.0    NaN    NaN    NaN    NaN
21     25.0  0.0    NaN    NaN    NaN    NaN    5.0    NaN    NaN
22      8.0  2.0    1.0    2.0    NaN    NaN    NaN    NaN    NaN
23      6.0  2.0    1.0    NaN    3.0    NaN    NaN    NaN    NaN
25      4.0  0.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
26      5.0  0.0    NaN    NaN    3.0    NaN    NaN    NaN    NaN
27      4.0  2.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
28      3.0  0.0    NaN    NaN    3.0    NaN    NaN    NaN    NaN
30      2.0  0.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
31      3.0  1.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
32      5.0  0.0    1.0    2.0    NaN    NaN    NaN    NaN    NaN
35      4.0  2.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
36      2.0  0.0    NaN    NaN    3.0    NaN    NaN    NaN    NaN
38     28.0  0.0    NaN    NaN    NaN    NaN    5.0    NaN    NaN
39      6.0  0.0    1.0    2.0    NaN    NaN    NaN    NaN    NaN
...     ...  ...    ...    ...    ...    ...    ...    ...    ...
29407   3.0  0.0    NaN    NaN    3.0    NaN    NaN    NaN    NaN
29410   3.0  0.0    NaN    NaN    3.0    NaN    NaN    NaN    NaN
29411   3.0  1.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
29412   5.0  0.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
29413   5.0  1.0    NaN    NaN    3.0    NaN    NaN    NaN    NaN
29415   2.0  0.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
29417  36.0  0.0    NaN    NaN    3.0    NaN    5.0    NaN    NaN
29421   2.0  0.0    NaN    NaN    3.0    NaN    NaN    NaN    NaN
29422   4.0  0.0    NaN    NaN    3.0    NaN    NaN    NaN    NaN
29423   2.0  0.0    NaN    NaN    3.0    NaN    NaN    NaN    NaN
29429   2.0  0.0    NaN    NaN    3.0    NaN    NaN    NaN    NaN
29430   4.0  1.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
29432   4.0  0.0    NaN    NaN    3.0    NaN    NaN    NaN    NaN
29435   3.0  0.0    NaN    NaN    3.0    NaN    NaN    NaN    NaN
29436  20.0  0.0    NaN    NaN    NaN    NaN    5.0    NaN    NaN
29438   5.0  0.0    NaN    NaN    3.0    NaN    NaN    NaN    NaN
29439  20.0  0.0    NaN    NaN    NaN    NaN    5.0    NaN    NaN
29440   3.0  0.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
29441   3.0  1.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
29442   1.0  NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
29444   2.0  0.0    NaN    NaN    3.0    NaN    NaN    NaN    NaN
29445   5.0  0.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
29446   4.0  0.0    NaN    NaN    3.0    NaN    NaN    NaN    NaN
29447  32.0  0.0    NaN    NaN    NaN    NaN    NaN    6.0    NaN
29448   2.0  0.0    NaN    NaN    3.0    NaN    NaN    NaN    NaN
29449   2.0  0.0    1.0    NaN    NaN    NaN    NaN    NaN    NaN
29452   2.0  0.0    NaN    NaN    3.0    NaN    NaN    NaN    NaN
29453   1.0  NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
29455  12.0  0.0    NaN    NaN    NaN    NaN    NaN    6.0    NaN
29457   5.0  0.0    NaN    NaN    3.0    NaN    NaN    NaN    NaN

[22798 rows x 9 columns]

In [13]:
data_jh['A7'].value_counts()

2.0      6930
4.0      6601
3.0      4678
5.0      1180
1.0       969
6.0       639
8.0       291
10.0      248
7.0       187
20.0      171
30.0      144
40.0       98
12.0       90
15.0       88
25.0       84
9.0        46
35.0       35
11.0       25
14.0       23
28.0       22
45.0       19
23.0       18
17.0       18
18.0       14
13.0       14
32.0       11
38.0       11
22.0       11
50.0       10
16.0       10
         ...
21.0        5
26.0        5
34.0        4
41.0        3
120.0       2
33.0        2
29.0        2
19.0        2
48.0        1
54.0        1
37.0        1
55.0        1
350.0       1
280.0       1
130.0       1
90.0        1
113.0       1
110.0       1
200.0       1
100.0       1
68.0        1
56.0        1
196.0       1
105.0       1
132.0       1
98.0        1
31.0        1
190.0       1
150.0       1
220.0       1
Name: A7, Length: 69, dtype: int64

In [ ]:
for i in range()