In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## 1. Data collection

In [197]:
data = pd.read_csv('tra_.csv')

## 2. Data preparation

In [198]:
#만족도 3개중 4,5 가 하나라도 있으면 1, 없으면 0

# d12 = data['A12'] >3
# d13 = data['A13'] >3
# d14 = data['A14'] >3
# data['total'] = d12 | d13 |d14
# data['total'] = data['total'].map({True:1, False:0})
data['A12']=data['A12'].fillna(1)
data['A13']=data['A13'].fillna(1)
data['A14']=data['A14'].fillna(1)
data['sumOver12'] = data['A12']+data['A13']+data['A14']
#data['sumOver12'] = data['sumOver12'] >= 12
#data['sumOver12'] = data['sumOver12'].map({True:1, False:0})
#data=data[data['A12'].isnull()==False]
# 만족도 제거
data.drop(['A12'], axis=1, inplace= True)
data.drop(['A13'], axis=1, inplace= True)
data.drop(['A14'], axis=1, inplace= True)

In [199]:
# 널값인 행과 만족도가 없는 행 제거
data=data[data['D_TRA1_1_SPOT1'].isnull()==False]
data=data[data['sumOver12'].isnull()==False]

In [200]:
#데이터 확인
data.head(30)

,ID,Q,D_TRA1_1_SPOT1,D_TRA1_SMONTH,D_TRA1_S_Day,D_TRA1_COST,D_TRA1_NUM,D_TRA1_CASE,A1,A2_1,...,A10G,A10H,A10I,A10,DQ6A,BSEX,BAGE,BJOB,BARA,sumOver12
0,1,1,21090.0,12.0,1.0,2168800.0,4.0,1.0,2.0,1.0,...,0.0,0.0,0.0,938000.0,4,1,3,1,11,12.0
1,2,1,36460.0,1.0,2.0,280000.0,1.0,1.0,1.0,14.0,...,30000.0,0.0,0.0,250000.0,12,1,5,1,11,13.0
2,3,2,21090.0,1.0,2.0,345500.0,1.0,1.0,2.0,2.0,...,15000.0,0.0,0.0,217000.0,1,1,1,12,11,13.0
3,4,1,31370.0,1.0,2.0,300000.0,3.0,1.0,2.0,9.0,...,0.0,0.0,0.0,348000.0,8,1,4,1,11,12.0
4,5,1,39020.0,1.0,3.0,1425000.0,2.0,1.0,2.0,2.0,...,0.0,0.0,0.0,985000.0,5,1,6,13,11,12.0
5,6,1,22010.0,1.0,1.0,150000.0,1.0,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1,2,2,12,11,3.0
6,7,1,32060.0,1.0,1.0,375000.0,1.0,1.0,2.0,2.0,...,18000.0,0.0,0.0,136000.0,4,2,6,11,11,13.0
7,8,1,37420.0,1.0,0.0,200000.0,1.0,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,7,2,5,2,11,3.0
8,9,1,36360.0,1.0,2.0,69400.0,1.0,4.0,2.0,5.0,...,0.0,0.0,0.0,43000.0,5,2,3,1,11,11.0
11,12,1,25040.0,1.0,0.0,200000.0,2.0,1.0,2.0,12.0,...,0.0,0.0,0.0,200000.0,4,2,2,1,11,12.0
12,13,1,32310.0,1.0,1.0,400000.0,5.0,1.0,2.0,1.0,...,0.0,0.0,0.0,360000.0,1,1,1,12,11,12.0
14,15,1,31130.0,1.0,0.0,50000.0,2.0,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,4,1,6,3,11,3.0
15,16,1,32380.0,12.0,1.0,718620.0,3.0,1.0,2.0,5.0,...,0.0,0.0,0.0,281010.0,5,1,5,1,11,12.0
16,17,2,23310.0,1.0,0.0,100000.0,4.0,1.0,2.0,5.0,...,0.0,0.0,0.0,100000.0,4,2,4,11,11,12.0
17,18,1,32060.0,1.0,1.0,300000.0,3.0,1.0,2.0,9.0,...,0.0,0.0,0.0,300010.0,3,2,5,1,11,12.0
18,19,1,31130.0,1.0,0.0,50000.0,2.0,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1,2,6,11,11,3.0
20,21,2,25040.0,2.0,1.0,120000.0,2.0,1.0,2.0,5.0,...,0.0,0.0,0.0,97500.0,4,1,6,1,11,12.0
21,22,1,21060.0,2.0,1.0,689200.0,1.0,1.0,2.0,2.0,...,15000.0,0.0,0.0,171000.0,4,1,4,1,11,12.0
22,23,2,32340.0,2.0,1.0,90000.0,1.0,1.0,2.0,4.0,...,0.0,0.0,0.0,143000.0,5,2,3,1,11,10.0
23,24,1,39010.0,2.0,2.0,280000.0,1.0,1.0,2.0,8.0,...,0.0,0.0,0.0,502000.0,1,2,2,12,11,12.0
25,26,1,34370.0,2.0,0.0,57900.0,1.0,1.0,2.0,4.0,...,0.0,0.0,0.0,30000.0,2,2,7,11,11,12.0
26,27,1,32350.0,2.0,2.0,249990.0,3.0,1.0,2.0,3.0,...,0.0,0.0,0.0,500000.0,5,2,4,3,11,10.0
27,28,1,32340.0,2.0,2.0,679230.0,3.0,1.0,2.0,5.0,...,0.0,0.0,0.0,1000050.0,5,1,3,1,11,12.0
28,29,1,25050.0,2.0,1.0,250000.0,1.0,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1,2,6,11,11,3.0
29,30,1,32030.0,2.0,1.0,599200.0,1.0,1.0,2.0,2.0,...,0.0,0.0,0.0,315000.0,2,1,7,13,11,12.0
30,31,1,32020.0,3.0,0.0,63200.0,1.0,1.0,2.0,8.0,...,0.0,0.0,0.0,108000.0,7,1,5,2,11,12.0
31,32,1,38350.0,3.0,4.0,1000000.0,1.0,1.0,1.0,12.0,...,54000.0,0.0,0.0,873000.0,1,2,5,11,11,12.0
32,33,1,35010.0,3.0,1.0,175800.0,1.0,1.0,2.0,12.0,...,0.0,0.0,0.0,154800.0,4,2,2,1,11,12.0
33,34,1,36010.0,3.0,1.0,200000.0,1.0,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,3,1,7,1,11,3.0
34,35,1,35010.0,3.0,1.0,597000.0,2.0,1.0,2.0,1.0,...,32000.0,0.0,0.0,272000.0,5,1,3,1,11,12.0

## 결측치 채우기

In [201]:
#A1 예 아니요 매핑
data['A1']=data['A1'].map({1:1,2:0})

> 여행활동

In [202]:
# A3 1,0 으로 변환
for i in range(21):
    data['A3_{}'.format(i+1)] = data['A3_{}'.format(i+1)].fillna(0)
    data['A3_{}'.format(i+1)] = data['A3_{}'.format(i+1)].map({i+1:1,0:0})

> 숙박시설

In [203]:
# A6은 원핫인코딩된 컬럼 -> 결측치 모두 0으로 채움
for i in range(1, 15) :
    data[f'A6_{i}'] = data[f'A6_{i}'].fillna(value = 0)
    data[f'A6_{i}'] = data[f'A6_{i}'].map({i:1,0:0})

> 여행유형

In [204]:
#A7 컬럼 채우기
data['A7A']=data['A7A'].fillna(0)
for i in range(7):
    data['A7B_{}'.format(i+1)] = data['A7B_{}'.format(i+1)].fillna(0)
    data['A7B_{}'.format(i+1)] = data['A7B_{}'.format(i+1)].map({i+1:1,0:0})

In [205]:
'''
=======나머지 결측치 채우기========= 
여행 유형이 3,5인 경우 널값이 존재하는데
3,5인 경우의 널값들의 영향을 주지 않도록 하기 위해
'''

data['A1']=data['A1'].fillna(0)
data['A2_1']=data['A2_1'].fillna(15)
data['A4_1'] = data['A4_1'].fillna(value = 9)
data['A5_1'] = data['A5_1'].fillna(value = 11)
data['A7']=data['A7'].fillna(1)

add = 0
for i in ['A','B','C','D','E','F','G','H','I']:
    data.loc[:,'A10{}'.format(i)].fillna(data['A10{}'.format(i)].mean(), axis=0 ,inplace=True)
    add += data['A10{}'.format(i)].mean()

data['A10']=data['A10'].fillna(add)

## 결측치 확인

In [206]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27321 entries, 0 to 48267
Data columns (total 72 columns):
ID                27321 non-null int64
Q                 27321 non-null int64
D_TRA1_1_SPOT1    27321 non-null float64
D_TRA1_SMONTH     27321 non-null float64
D_TRA1_S_Day      27321 non-null float64
D_TRA1_COST       27321 non-null float64
D_TRA1_NUM        27321 non-null float64
D_TRA1_CASE       27321 non-null float64
A1                27321 non-null float64
A2_1              27321 non-null float64
A3_1              27321 non-null int64
A3_2              27321 non-null int64
A3_3              27321 non-null int64
A3_4              27321 non-null int64
A3_5              27321 non-null int64
A3_6              27321 non-null int64
A3_7              27321 non-null int64
A3_8              27321 non-null int64
A3_9              27321 non-null int64
A3_10             27321 non-null int64
A3_11             27321 non-null int64
A3_12             27321 non-null int64
A3_13             27321 non-null int64
A3_14             27321 non-null int64
A3_15             27321 non-null int64
A3_16             27321 non-null int64
A3_17             27321 non-null int64
A3_18             27321 non-null int64
A3_19             27321 non-null int64
A3_20             27321 non-null int64
A3_21             27321 non-null int64
A4_1              27321 non-null float64
A5_1              27321 non-null float64
A6_1              27321 non-null int64
A6_2              27321 non-null int64
A6_3              27321 non-null int64
A6_4              27321 non-null int64
A6_5              27321 non-null int64
A6_6              27321 non-null int64
A6_7              27321 non-null int64
A6_8              27321 non-null int64
A6_9              27321 non-null int64
A6_10             27321 non-null int64
A6_11             27321 non-null int64
A6_12             27321 non-null int64
A6_13             27321 non-null int64
A6_14             27321 non-null int64
A7                27321 non-null float64
A7A               27321 non-null float64
A7B_1             27321 non-null int64
A7B_2             27321 non-null int64
A7B_3             27321 non-null int64
A7B_4             27321 non-null int64
A7B_5             27321 non-null int64
A7B_6             27321 non-null int64
A7B_7             27321 non-null int64
A10A              27321 non-null float64
A10B              27321 non-null float64
A10C              27321 non-null float64
A10D              27321 non-null float64
A10E              27321 non-null float64
A10F              27321 non-null float64
A10G              27321 non-null float64
A10H              27321 non-null float64
A10I              27321 non-null float64
A10               27321 non-null float64
DQ6A              27321 non-null int64
BSEX              27321 non-null int64
BAGE              27321 non-null int64
BJOB              27321 non-null int64
BARA              27321 non-null int64
sumOver12         27321 non-null float64
dtypes: float64(23), int64(49)
memory usage: 15.2 MB

In [207]:
#for i in numeric_features:
#    print('\n','='*6,i,'='*6)
#    print(data[i].value_counts())

In [208]:
# for i in numeric_features:
#     sns.scatterplot(data=data, x=i, y='total')
#     plt.show()

## 이상치 제거

In [209]:
data=data[(data['D_TRA1_S_Day']>4)==False]
data=data[(data['D_TRA1_COST']>2000000)==False]
data=data[(data['A7']>10)==False]
data=data[(data['A10A']>500000)==False]
data=data[(data['A10B']>200000)==False]
data=data[(data['A10C']>200000)==False]
data=data[(data['A10D']>500000)==False]
data=data[(data['A10E']>250000)==False]
data=data[(data['A10F']>100000)==False]
data=data[(data['A10G']>100000)==False]
data=data[(data['A10H']>20000)==False]
data=data[(data['A10I']>20000)==False]
data=data[(data['DQ6A']>=10)==False]

data.shape

(22897, 72)

## 새로운 특성 추가

In [210]:
data['dosi'] = data['D_TRA1_1_SPOT1']//1000

In [211]:
data['Ncost'] = data['D_TRA1_COST']/data['D_TRA1_NUM']

In [212]:
data['DNcost'] = data['Ncost']/(data['D_TRA1_S_Day']+1)

In [213]:
data['A3sum'] = data['A3_1']
for i in range(1,21):
    data['A3sum'] = data['A3sum'] + data['A3_{}'.format(i+1)]

## 명목형 변수 레이블인코딩

In [214]:
# 명목형 변수 인코딩
lst = ['D_TRA1_1_SPOT1','D_TRA1_SMONTH','A2_1','A4_1','A5_1','BSEX','BAGE','BJOB','D_TRA1_CASE','BARA','D_TRA1_NUM','dosi']
for col in lst:
    data[col] = data[col].apply(str)

## 상관관계 분석후 0.1이하의 값들 제거

In [215]:
i='sumOver12'
corr = data.corr().drop([i]).sort_values(i, ascending=False)[i]
corr

A3sum           0.727771
A3_1            0.577756
A7              0.536394
A7B_1           0.431427
A3_6            0.420087
A3_2            0.402075
A7B_3           0.298797
D_TRA1_COST     0.201559
A7A             0.180579
DNcost          0.174908
A3_18           0.169047
A6_3            0.152462
Ncost           0.140086
A6_12           0.136824
A3_4            0.130657
A3_11           0.121526
A3_5            0.116486
A3_15           0.111847
A3_8            0.111474
A6_4            0.100472
A3_3            0.093036
A3_9            0.091561
A6_2            0.088873
A6_1            0.088292
A3_16           0.084288
A3_7            0.080340
A1              0.078383
A3_17           0.077569
A3_13           0.069451
A7B_2           0.063169
                  ...
A6_10           0.051157
A3_12           0.049737
A6_9            0.049305
A6_11           0.046746
A6_6            0.046278
A6_5            0.039932
A6_8            0.036403
A6_14           0.034834
A3_20           0.030195
A3_19           0.029062
A6_7            0.027754
A6_13           0.026014
A3_10           0.019090
A3_14           0.010552
A7B_6           0.008066
A7B_7           0.006370
Q              -0.001212
ID             -0.005623
DQ6A           -0.015033
D_TRA1_S_Day   -0.056806
A10A           -0.118309
A10D           -0.119637
A10F           -0.121008
A10C           -0.142106
A10B           -0.163300
A10H           -0.165671
A10G           -0.193186
A10E           -0.193599
A10            -0.251647
A10I           -0.349394
Name: sumOver12, Length: 63, dtype: float64

In [216]:
data.head(20)

,ID,Q,D_TRA1_1_SPOT1,D_TRA1_SMONTH,D_TRA1_S_Day,D_TRA1_COST,D_TRA1_NUM,D_TRA1_CASE,A1,A2_1,...,DQ6A,BSEX,BAGE,BJOB,BARA,sumOver12,dosi,Ncost,DNcost,A3sum
2,3,2,21090.0,1.0,2.0,345500.0,1.0,1.0,0.0,2.0,...,1,1,1,12,11,13.0,21.0,345500.0,115166.666667,7
3,4,1,31370.0,1.0,2.0,300000.0,3.0,1.0,0.0,9.0,...,8,1,4,1,11,12.0,31.0,100000.0,33333.333333,3
5,6,1,22010.0,1.0,1.0,150000.0,1.0,5.0,0.0,15.0,...,1,2,2,12,11,3.0,22.0,150000.0,75000.000000,0
6,7,1,32060.0,1.0,1.0,375000.0,1.0,1.0,0.0,2.0,...,4,2,6,11,11,13.0,32.0,375000.0,187500.000000,4
7,8,1,37420.0,1.0,0.0,200000.0,1.0,3.0,0.0,15.0,...,7,2,5,2,11,3.0,37.0,200000.0,200000.000000,0
8,9,1,36360.0,1.0,2.0,69400.0,1.0,4.0,0.0,5.0,...,5,2,3,1,11,11.0,36.0,69400.0,23133.333333,3
11,12,1,25040.0,1.0,0.0,200000.0,2.0,1.0,0.0,12.0,...,4,2,2,1,11,12.0,25.0,100000.0,100000.000000,2
12,13,1,32310.0,1.0,1.0,400000.0,5.0,1.0,0.0,1.0,...,1,1,1,12,11,12.0,32.0,80000.0,40000.000000,4
14,15,1,31130.0,1.0,0.0,50000.0,2.0,3.0,0.0,15.0,...,4,1,6,3,11,3.0,31.0,25000.0,25000.000000,0
15,16,1,32380.0,12.0,1.0,718620.0,3.0,1.0,0.0,5.0,...,5,1,5,1,11,12.0,32.0,239540.0,119770.000000,2
16,17,2,23310.0,1.0,0.0,100000.0,4.0,1.0,0.0,5.0,...,4,2,4,11,11,12.0,23.0,25000.0,25000.000000,2
17,18,1,32060.0,1.0,1.0,300000.0,3.0,1.0,0.0,9.0,...,3,2,5,1,11,12.0,32.0,100000.0,50000.000000,2
18,19,1,31130.0,1.0,0.0,50000.0,2.0,3.0,0.0,15.0,...,1,2,6,11,11,3.0,31.0,25000.0,25000.000000,0
20,21,2,25040.0,2.0,1.0,120000.0,2.0,1.0,0.0,5.0,...,4,1,6,1,11,12.0,25.0,60000.0,30000.000000,3
21,22,1,21060.0,2.0,1.0,689200.0,1.0,1.0,0.0,2.0,...,4,1,4,1,11,12.0,21.0,689200.0,344600.000000,3
22,23,2,32340.0,2.0,1.0,90000.0,1.0,1.0,0.0,4.0,...,5,2,3,1,11,10.0,32.0,90000.0,45000.000000,3
23,24,1,39010.0,2.0,2.0,280000.0,1.0,1.0,0.0,8.0,...,1,2,2,12,11,12.0,39.0,280000.0,93333.333333,5
26,27,1,32350.0,2.0,2.0,249990.0,3.0,1.0,0.0,3.0,...,5,2,4,3,11,10.0,32.0,83330.0,27776.666667,3
28,29,1,25050.0,2.0,1.0,250000.0,1.0,5.0,0.0,15.0,...,1,2,6,11,11,3.0,25.0,250000.0,125000.000000,0
30,31,1,32020.0,3.0,0.0,63200.0,1.0,1.0,0.0,8.0,...,7,1,5,2,11,12.0,32.0,63200.0,63200.000000,2

In [217]:
drop_features = corr.index[(corr)<=0.1] & corr.index[(corr)>=-0.1]
drop_features

Index(['A3_3', 'A3_9', 'A6_2', 'A6_1', 'A3_16', 'A3_7', 'A1', 'A3_17', 'A3_13',
       'A7B_2', 'A3_21', 'A7B_5', 'A7B_4', 'A6_10', 'A3_12', 'A6_9', 'A6_11',
       'A6_6', 'A6_5', 'A6_8', 'A6_14', 'A3_20', 'A3_19', 'A6_7', 'A6_13',
       'A3_10', 'A3_14', 'A7B_6', 'A7B_7', 'Q', 'ID', 'DQ6A', 'D_TRA1_S_Day'],
      dtype='object')

In [ ]:
for drop_col in drop_features:
    data.drop([drop_col], axis=1, inplace= True)

## 종속변수 갯수

In [218]:
data['sumOver12'].value_counts()

12.0    10205
3.0      4460
13.0     3068
11.0     1649
15.0     1012
14.0      910
10.0      844
9.0       637
8.0        60
7.0        34
6.0        15
5.0         2
4.0         1
Name: sumOver12, dtype: int64

## 더미

In [219]:
data = pd.get_dummies(data)

In [220]:
data.shape

(22897, 412)

In [221]:
X_train = data.drop('sumOver12',axis = 1)
y_train = data.sumOver12

## 3. Choose & Train a model

### - XGBRegressor

In [222]:
from xgboost import XGBRegressor

xg = XGBRegressor()
xg.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

### - XGBClassifier

In [223]:
from xgboost import XGBClassifier

model=XGBClassifier()
model.fit(X_train,y_train) # 학습

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [224]:
from sklearn.model_selection import cross_val_score

print(f'score : {cross_val_score(xg, X_train, y_train, cv=5).mean()}')
print('='*20)
print(f'score : {cross_val_score(model, X_train, y_train, cv=5).mean()}')

score : 0.9017489055125356
====================

C:\Users\rhkdg\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

score : 0.34014788859751166

### - 랜덤 포레스트

In [226]:
from sklearn.ensemble import RandomForestRegressor
#from tqdm.notebook import tqdm # 밑에 프로그래스바?를 출력
from sklearn.model_selection import cross_val_score # 교차검증

In [227]:
rf = RandomForestRegressor(n_estimators = 200,
                          max_features = 0.8,
                          max_depth = 15,
                          n_jobs = -1,
                          random_state = 0)
rf.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=15,
                      max_features=0.8, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=-1,
                      oob_score=False, random_state=0, verbose=0,
                      warm_start=False)

In [228]:
print(f'score : {cross_val_score(rf, X_train, y_train, cv=5).mean()}')

score : 0.9064857082325775

### -lgb

In [229]:
import lightgbm

In [230]:
lgb = lightgbm.LGBMRegressor()
lgb.fit(X_train, y_train)

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
              random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [231]:
print(f'score : {cross_val_score(lgb, X_train, y_train, cv=5).mean()}')

score : 0.9063623887972249

## 모델 저장

In [ ]:
#from joblib import dump, load

In [ ]:
#dump(rf, 'model.joblib')

In [ ]:
#k=load('model.joblib')

In [ ]:
#X_train.iloc[0]

In [ ]:
#x=[400000, 0, 1,1,1,1,1, 0, 0,0, 400000, 400000, 0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0]
#x_df = pd.DataFrame(x)
#x_df = x_df.T